In [8]:
import sqlite3
connection=sqlite3.connect('gayu.db')
cursor=connection.cursor()
cursor.execute('CREATE TABLE IF NOT EXISTS employee (emp_id INT PRIMARY KEY,emp_name VARCHAR(100),emp_dept VARCHAR(50))')
connection.commit()
cursor.execute('INSERT INTO employee (emp_id,emp_name,emp_dept) VALUES (?,?,?)',(1,'gayathri','CSE'),(2,'savitha','BCA'))
connection.commit()